<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game</title>
</head>
<body>


<div th:if="${player.isAlive() && !monsters.isEmpty()}">
    <h2>Your Details</h2>
    <table th:object="${player}" border="1">
        <tr>
            <th>Health</th>
            <th>MinDamage</th>
            <th>MaxDamage</th>
            <th>Resistance</th>
            <th>CountOfCuring</th>
            <th>To cure</th>
        </tr>
        <tr>
            <td th:text="${player.getCurrentHealth()}"></td>
            <td th:text="${player.getMinDamage()}"></td>
            <td th:text="${player.getMaxDamage()}"></td>
            <td th:text="${player.getResistance()}"></td>
            <td th:text="${player.getCountOfCuring()}"></td>
            <td>
                <form th:action="@{/game/cure}" method="get">
                    <input type="submit" value="Cure">
                </form>
            </td>
        </tr>
    </table>

    <h3>Monsters</h3>

    <table th:object="${monsters}" border="1">
        <tr>
            <th>Health</th>
            <th>MinDamage</th>
            <th>MaxDamage</th>
            <th>Resistance</th>
            <th>To hit</th>
        </tr>
        <tr th:each="monster : ${monsters}">
            <td th:text="${monster.getCurrentHealth()}"></td>
            <td th:text="${monster.getMinDamage()}"></td>
            <td th:text="${monster.getMaxDamage()}"></td>
            <td th:text="${monster.getResistance()}"></td>
            <td>
                <form th:action="@{/game/hit/{id}(id=${monsters.indexOf(monster)})}" method="post">
                    <input type="submit" value="Hit"/>
                </form>
            </td>
        </tr>
    </table>
</div>
<div th:if="${monsters.size() == 0}">
    <h3>You are winner</h3>
</div>
<div th:if="${!player.isAlive()}">
    <h3>Monsters won</h3>
</div>
<div th:if="${monsters.isEmpty() || !player.isAlive()}">
    <form th:action="@{/game/repeat}" method="get">
        <button type="submit">Repeat</button>
    </form>
</div>
</body>


</html>