<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <title>Game</title>
</head>
<body>
<h3 th:text="${text}"></h3>

<form th:action="@{/game/create}" method="post" >
    <label for="health">Enter Health</label>
    <input type="number" id="health" name="health" required/>
    <br>
    <label for="min">Enter minDamage</label>
    <input type="number"  id="min" name="minDamage" min="1" max="30" required/>
    <br>
    <label for="max">Enter maxDamage</label>
    <input type="number" id="max" name="maxDamage" min="1" max="30" required/>
    <br>
    <label for="res">Enter resistance</label>
    <input type="number"  id="res" name="resistance" min="1" max="30" required/>
    <br>
    <input type="submit" value="Add">
</form>
<br>
<div th:if="${player != null && !monsters.isEmpty()}">
<a th:href="@{/game/battling}">
    <h4>To battling</h4>
</a>
</div>
</body>


</html>