<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game</title>
</head>
<body>
<h3 th:text="${text}"></h3>

<form action="/create" method="post">
    Health <input type="number" name="health"/>
    <br>
    MinDamage <input type="number" name="minDamage"/>
    <br>
    MaxDamage <input type="number" name="maxDamage"/>
    <br>
    Resistance <input type="number" name="resistance"/>
    <br>
    <input type="submit" value="Add">
</form>


</body>


</html>